.desno{
    text-align: right;
}
.sredina{
    text-align: center;
}
.sirokoPromjeniDodaj:hover{
    border-color: #36465c;
    background-color: #3c83d3;
    color: #010408;
}
.sirokoPromjeniDodaj{
    width: 100%;
    height: 40px;
    border: solid 3px;
    border-radius: 3px;
    border-color: #36465c;
    background-color: rgb(39, 90, 160);
}
.sirokoOdustani:hover{
    border-color: #36465c;
    background-color: #3c83d3;
    color: #010408;
}
.sirokoOdustani{
    width: 100%;
    height: 40px;
    border: solid 3px;
    border-radius: 3px;
    border-color: #36465c;
    background-color: rgb(114, 124, 138);
    color: #fff;
}
.sirokoObrisi:hover{
    border-color: #36465c;
    background-color: #3c83d3;
    color: #010408;
}
.sirokoObrisi{
    width: 100%;
    height: 40px;
    border: solid 3px;
    border-radius: 3px;
    border-color: #36465c;
    background-color: rgb(114, 124, 138);
    color: #fff;
}
.visina{
    padding: 0;
    min-height: 922px;
    color: #fff;
}
body{
    background-color: #3f4044;
    min-height: 100vh;
}
.mt-4{
    width: 50%;
}
.loginDiv{
    width: 100%;
    height: 855px;
    padding: 152px 152px 240px 152px;
    background-color: #72a2e4;
    border: solid 1px;
}
.loginDiv h1, p{
    text-align: center;
}
.loginDiv2{
    padding: 20px;
    border: solid 3px;
    border-radius: 3px;
    border-color: #d2d8e0;
    margin-left: 15%;
    margin-right: 15%;
}
.gumbLogIn{
    border: solid 3px;
    border-radius: 3px;
    border-color: #36465c;
    width: 100%;
    height: 38px;
    padding: 0;
    background-color: rgb(39, 90, 160);
    color: #fff;
}
.gumbLogIn:hover{
    border-color: #36465c;
    background-color: #3c83d3;
    color: #fff;
}
.backgroundDiv{
    float: left;
    width: 100%;
    height: 860px;
    background-color: #72a2e4;
    border: solid 1px;
    border-radius: 3px;
    border-color: white;
    padding-left: 5px;
    padding-right: 5px;
}
.pocetnaSlika{
    width: 100%;
    height: 800px;
    padding: 50px 150px 50px 150px;
}
.pocetnaSlika2{
    width: 100%;
    height: 300px;
    padding-top: 5px;
}
.dobrodosli{
    text-align: center;
}
.navbar{
    background-color: rgb(123, 128, 136)!important;
}
#navbarSticky{
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    border: solid 1px;
}
.nav-link{
    width: 200px!important;
    border: solid 3px;
    border-radius: 3px;
    border-color: #36465c;
    margin-left: 0.5%;
    margin-right: 0.5%;
    text-align: center;
    background-color: rgb(39, 90, 160);
    color: #fff;
}
.nav-link:hover{
    background-color: #3c83d3;
    border-color: #2e394b;
    color: black;
}
.nav-link:focus{
    background-color: rgb(187, 208, 238);
    border-color: #36465c;
    color: #010408;
}
.swagger{
    color: #4a4f53!important;
}
.swagger:hover{
    background-color: #0b5ed7;
    border-color: #36465c;
    color: #fff!important;
}
.gumbPromjeniArtikl:hover, .gumbPromjeniDobavljac:hover, .gumbPromjeniNabaveUnos:hover{
    border-color: #36465c;
    background-color: #3c83d3;
    color: #010408;
}
.gumbPromjeniArtikl{
    border: solid 3px;
    border-radius: 3px;
    border-color: #36465c;
    width: 15%;
    height: 38px;
    padding: 0;
    background-color: rgb(39, 90, 160);
    color: #fff;
}
.gumbPromjeniDobavljac{
    border: solid 3px;
    border-radius: 3px;
    border-color: #36465c;
    width: 25%;
    height: 38px;
    padding: 0;
    background-color: rgb(39, 90, 160);
    color: #fff;
}
.gumbPromjeniNabaveUnos{
    border: solid 3px;
    border-radius: 3px;
    border-color: #36465c;
    width: 35%;
    height: 38px;
    padding: 0;
    background-color: rgb(39, 90, 160);
    color: #fff;
}
.gumbObrisiArtikl:hover, .gumbObrisiDobavljac:hover, .gumbObrisiNabave:hover{
    border-color: #36465c;
    background-color: #3c83d3;
    color: #010408;
}
.gumbObrisiArtikl{
    border: solid 3px;
    border-radius: 3px;
    border-color: #36465c;
    width: 15%;
    height: 38px;
    padding: 0;
    background-color: rgb(114, 124, 138);
    color: #fff;
}
.gumbObrisiDobavljac{
    border: solid 3px;
    border-radius: 3px;
    border-color: #36465c;
    width: 25%;
    height: 38px;
    padding: 0;
    background-color: rgb(114, 124, 138);
    color: #fff;
}
.gumbObrisiNabave{
    border: solid 3px;
    border-radius: 3px;
    border-color: #36465c;
    width: 25%;
    height: 38px;
    padding: 0;
    background-color: rgb(114, 124, 138);
    color: #fff;
}
.artiklDodaj, .dobavljacDodaj, .nabavaDodaj, .stavkaDodaj{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: inline-block;
    padding: 5px;
    text-align: center;
    border: solid 3px;
    border-radius: 3px;
    border-color: #36465c;
    top: 67px;
    background-color: rgb(39, 90, 160);
}
.artiklDodaj, .dobavljacDodaj, .nabavaDodaj{
    width: 100%;
}
.artiklDodaj:hover, .dobavljacDodaj:hover, .nabavaDodaj:hover, .stavkaDodaj:hover{
    border-color: #36465c;
    background-color: #3c83d3;
    color: #010408;
}
.table-responsive{
    max-height: 813px!important;
}
.tablicaArtikli{
    width: 50%!important;
}
.naslovAPP{
    border: solid 1px;
    text-align: center;
}
.bodyAPP{
    border: solid 1px;
    text-align: center;
}
.naslovAPP, th{
    background-color: #a4a5b6!important;
}
.UnosDiv{
    float: left;
    width: 33.3%;
    margin-top: 5px;
    height: 39px;
}
.UnosDivTrazilica{
    float: left;
    width: 33.3%;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 39px;
}
.UnosDivUnosArtikla, .UnosDivUnosDobavljaca, .UnosDivUnosNabave{
    float: left;
    width: 33.3%;
    margin-top: 5px;
    height: 39px;
}
.PregledDiv{
    width: 100%;
    height: 812px;
    margin-top: 0%;
    float: left;
    overflow: auto;
}
.footer{
    float: left;
    width: 100%;
    height: 30px;
    border: solid 1px;
    bottom: 0;
    background-color: rgb(123, 128, 136)!important;
}
.footer h2{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 15px;
    color: black;
}
.Col-6-lijevo{
    float: left;
    width: 50%;
    padding: 19px;
    max-height: 450px;
    overflow: auto;
    color: #fff;
}
.Col-12-stavke{
    float: left;
    width: 100%;
    max-height: 415px;
    overflow: auto;
}
.stavka{
    text-align: center;
    background-color: #3c83d3;
}
.table2{
    padding: 0;
    margin: 0;
}
.ukupno{
    text-align: right;
    padding-right: 25px;
    border: solid 1px;
    background-color: #3c83d3;
    color: #010408;
    margin: 0;
}
.loading-spinner-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}